apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: test-helm-kustomize
    releaseName: test-helm-kustomize
    repo: https://acud1.github.io/test-helm-kustomize
    version: 0.1.0

images:
  - name: ghcr.io/trstringer/httpbin2
    newTag: "1"
